{% extends 'users/base_user.html' %}

{% block title %}プロフィール設定{% endblock %}

{% block extra_css %}{% endblock %}

{% block page_title %}プロフィール設定{% endblock %}

{% block content %}
    {% if form.has_errors %}
        <p>指定されたユーザ名は使用できません</p>
    {% endif %}
    <form action="{% url 'users:settings' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
{#        <ul>#}
{#            <li>ユーザ名: {{ form.name }}</li>#}
{#            <li>サムネイル画像: {{ form.thumbnail }}</li>#}
{#            <li>サイト/ブログ: {{ form.homepage }}</li>#}
{#            <li>自己紹介: {{ form.self_introduction }}</li>#}
{#        </ul>#}
        <input type="submit" value="プロフィールを更新">
    </form>
{% endblock %}

{% block extra_js %}

{% endblock %}